/* UNIT POPUP CONTAINERS */

.add-unit-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 1.5rem;
    width: 90%;
    max-width: 1000px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

/* Form layout */
.addUnitForm {
    display: flex;
    flex-direction: column;
}

.addUnitForm .left-side label {
    font-size: 0.8rem;
}

.addUnitForm .functions {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.addUnitForm .left-side {
    width: 66.66%;
    gap: 20px;
    display: flex;
    flex-direction: row;
}

.addUnitForm .left-side .function-group {
    width: 33.33%;
    display: flex;
    flex-direction: column;
}

.addUnitForm .right-side {
    width: 33.33%;
    display: flex;
    flex-direction: column;
}

.preview-unit-images {
    height: 15.3rem;
    display: none;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    outline: 1px solid #AEAEAE;
}

.preview-unit-images img {
    border: 1px solid #c2c2c2;
    width: 100%;
}

/* Input fields */
.add-unit-popup input,
select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-family: "Sen", serif;
    font-weight: 400;
    font-size: 0.9rem;
    border: none;
    outline: 1px solid #AEAEAE;
    height: 2rem;
}

select {
    padding: 0px 10px;
    color: #000;
}

select:invalid {
    color: #AEAEAE;
}

.add-unit-popup input::placeholder {
    font-family: "Sen", serif;
    font-weight: 400;
    color: #AEAEAE;
}

/* Center the heading */
.add-unit-popup h2 {
    text-align: center;
    margin-bottom: 1.3rem;
}

/* Button container */
.add-unit-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 1rem;
}

.add-unit-popup button {
    width: 60%;
    height: 2.5rem;
    background: #323232;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: 300ms ease;
}

.add-unit-popup button:hover {
    background-color: #292929;
}

.add-unit-popup button:active {
    background-color: #202020;
}




/* APARTMENT POPUP CONTAINERS */

.add-apartment-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 1.5rem;
    width: 90%;
    max-width: 700px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

/* Form layout */
.addApartmentForm {
    display: flex;
    flex-direction: column;
}

.addApartmentForm .functions {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.addApartmentForm .left-side {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.addApartmentForm .right-side {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.preview-apartment-images {
    height: 14.2rem;
    display: none;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    outline: 1px solid #AEAEAE;
}

.preview-apartment-images img {
    border: 1px solid #c2c2c2;
    width: 100%;
}

/* Input fields */
.add-apartment-popup input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-family: "Sen", serif;
    font-weight: 400;
    font-size: 0.9rem;
    border: none;
    outline: 1px solid #AEAEAE;
    height: 2.5rem;
}

.add-apartment-popup input::placeholder {
    font-family: "Sen", serif;
    font-weight: 400;
    color: #AEAEAE;
}

/* Center the heading */
.add-apartment-popup h2 {
    text-align: center;
    margin-bottom: 1.3rem;
}

/* Button container */
.add-apartment-button-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    gap: 1rem;
}

#submitEditApartment,
#submitEditUnit {
    width: 20rem;
}

#deleteApartment,
#deleteUnit {
    width: 10rem;
}

.add-apartment-popup button {
    width: 60%;
    height: 2.5rem;
    background: #323232;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: 300ms ease;
}

.add-apartment-popup button:hover {
    background-color: #292929;
}

.add-apartment-popup button:active {
    background-color: #202020;
}



/* GLOBAL */

/* Close button */
.close_button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

input:focus,
select:focus,
textarea:focus {
    outline: 1px solid #4d90fe;
    background-color: #fff;
}

#unitImages,
#apartmentImages {
    height: 2.5rem;
}